body {
    font-family: Sans-serif;
}

.hidden {
    display: none;
}

.selection-category {
    margin-bottom: 1rem;
}

#tavern-menu {
    font-family: Georgia;
    font-size: 1.2rem;
}

.item-line {
    margin-bottom: 0.2rem;
}

.item-description {
    font-size: 0.875rem;
    margin: 0.2rem 1rem 1rem 1rem;
}
